@import url('https://fonts.googleapis.com/css2?family=Halant:wght@300;400;500;600;700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Pacifico&display=swap');

/* basic responsive image css */
img, video{
  max-width: 100%;
  height: auto;
}

.landmarks-grid{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

figure{ margin:0;}

/* --------------------------------
Responsive video
-------------------------------- */

.videoWrapper {
	position: relative;
	padding-top: 25px;
	height: 0;
  clear:both;
}

/* 16:9 aspect ratio wrapper */
.videoWrapper.ratio-16-9{
    padding-bottom: 56.25%; /* 9 รท 16 = .5625 which is 56.25% */
}

/* 4:3 aspect ratio wrapper */
.videoWrapper.ratio-4-3{
    padding-bottom: 75%; /* 3 รท 4 = .75 which is 75% */
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* ---------------------------------- */

header{
  position:absolute;
  top:0;
  left:0;
  padding: 30px 50px;
  width: 100%;
  background-color: rgb(0,0,0,80%);
  box-shadow: 4px 4px 6px rgb(0, 0, 0, 30%);
}

.site-title{
  color:white;
  font-family: "Pacifico";
  font-weight: 400;
  font-style: normal;
  letter-spacing: 4px;
} 

body{
  background: white;
  margin: 30px;
  margin-top: 6rem;
}

h1{
  font-family: "Halant", serif;
  font-weight: 700;
  font-style: normal;
  text-align:center;
  font-size: 48px;
}

h2{
  font-family: "Halant", serif;
  font-weight: 600;
  font-style: normal;
}

h3{
  font-family: "Halant", serif;
  font-weight: 500;
  font-style: normal;
}

p{
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
  font-size: 18px;
}

.card-content{
  padding: 10px 50px;
  display: block;
  border: 1px groove black;
  border-radius: 20px;
}
.card-feature{
  background-color: rgb(0, 0, 0);
  padding: 5px 30px;
  padding-bottom: 10px;
  margin-top: 50px;
}
.feature{
  color: white;
}
.card-landmark{
  background-color: #17b6ff;
  padding: 5px 30px;
  margin-top: 50px;
  padding-bottom: 20px;
}
.landmark{
  display:inline-flexbox;
  border: 1px groove black;
  border-radius: 20px;
  background-color: white;
  padding: 10px 20px;
  box-shadow: 4px 4px 10px rgb(0, 0, 0, 30%);
}
img{
  border:1px solid white;
  border-radius: 20px;
}
a{
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}
a:hover{
  color: darkred;
}
a:visited{
  color: black;
}
.label{
  text-align: center;
}

footer{
  text-align: center;
  border: 1px solid black;
  border-radius: 20px;
  margin-top: 20px;
}